<div class="header-div">
  Employee Data
</div>

<div class="main-div">
  <div class="drop-down-div">
    <select class="drop-down-data" name="employeeId" [(ngModel)]="employeeId">
      <option *ngFor="let employee of employeeArray" [value]="employee.id"> {{employee.name}} </option>
    </select>
    <input type="radio" [value]="employee.id" [(ngModel)]="employeeId" name="employee"> {{employee.name}}
    <button class="buttons" *ngFor="let employee of employeeArray" [value]="employee" (click)="getEmployeeData(employee.id)"> {{employee.name}} </button>
  </div>

  <div class="image-div">
    <img class="images-data" appEmployee [employeeIdData]="employeeId">
    <div>
      <label class="label-data"> Employee Photo </label>
    </div>
  </div>
</div>