<div class="mainDiv">
  <div class="headerDiv"> Template Driven Form </div>
  <form novalidate #formData="ngForm" (ngSubmit)="addDetails()">
    <!-- <pre> {{ formData.value | json }} </pre>
    <pre> {{ formData.controls.fullName?.value | json }} </pre> -->

    <fieldset ngModelGroup="fullName">
      <div class="form-group">
        <div class="labels">
          <label> First Name </label>
        </div>

        <input type="text" class="textBox" name="firstName" [(ngModel)]="formData.firstName" #firstNameInput="ngModel"
          required [ngClass]="{
            'has-error': firstNameInput.invalid && (firstNameInput.dirty || firstNameInput.touched),
            'has-success': firstNameInput.valid && (firstNameInput.dirty || firstNameInput.touched) 
          }">

        <div class="errorMessageDiv" *ngIf="firstNameInput.errors && (firstNameInput.dirty || firstNameInput.touched)">
          <p *ngIf="firstNameInput.errors.required">First Name is required.</p>
        </div>
      </div>

      <div class="form-group">
        <div class="labels">
          <label> Last Name </label>
        </div>

        <input type="text" class="textBox" name="lastName" [(ngModel)]="formData.lastName" #lastNameInput="ngModel"
          required [ngClass]="{
              'has-error': lastNameInput.invalid && (lastNameInput.dirty || lastNameInput.touched),
              'has-success': lastNameInput.valid && (lastNameInput.dirty || lastNameInput.touched) 
            }">

        <div class="errorMessageDiv" *ngIf="lastNameInput.errors && (lastNameInput.dirty || lastNameInput.touched)">
          <p *ngIf="lastNameInput.errors.required">Last Name is required.</p>
        </div>
      </div>
    </fieldset>

    <div class="otherDetailsDiv">
      <div class="form-group">
        <div class="labels">
          <label> Gender </label>
        </div>

        <div>
          <input type="radio" class="radioButtons" name="gender" [(ngModel)]="formData.gender" #genderInput="ngModel"
            value="male" required />
          Male
          <input type="radio" class="radioButtons" name="gender" [(ngModel)]="formData.gender" #genderInput="ngModel"
            value="female" />
          Female
        </div>

        <div class="errorMessageDiv" *ngIf="genderInput.errors && (genderInput.dirty || genderInput.touched)">
          <p *ngIf="genderInput.errors.required"> Gender Is Required </p>
        </div>
      </div>

      <div class="form-group">
        <div class="labels">
          <label> Email Id </label>
        </div>

        <div>
          <input type="email" class="textBox" name="email" [(ngModel)]="formData.email" #emailInput="ngModel" required
            pattern="[^ @]*@[^ @]*" [ngClass]="{
            'has-error': emailInput.invalid && (emailInput.dirty || emailInput.touched),
            'has-success': emailInput.valid && (emailInput.dirty || emailInput.touched) 
          }">
        </div>

        <div class="errorMessageDiv" *ngIf="emailInput.errors && (emailInput.dirty || emailInput.touched)">
          <p *ngIf="emailInput.errors.required"> Email Is Required </p>
          <p *ngIf="emailInput.errors.pattern"> Email Is not valid </p>
        </div>
      </div>

      <div class="form-group">
        <div class="labels">
          <label> Contact No </label>
        </div>

        <div>
          <input type="text" class="textBox" name="contactNo" [(ngModel)]="formData.contactNo" #contactNoInput="ngModel"
            required pattern="[0-9]*" [ngClass]="{
                  'has-error': contactNoInput.invalid && (contactNoInput.dirty || contactNoInput.touched),
                  'has-success': contactNoInput.valid && (contactNoInput.dirty || contactNoInput.touched) 
                }">
        </div>

        <div class="errorMessageDiv" *ngIf="contactNoInput.errors && (contactNoInput.dirty || contactNoInput.touched)">
          <p *ngIf="contactNoInput.errors.required"> ContactNo is Required </p>
          <p *ngIf="contactNoInput.errors.pattern"> Enter only numeric value </p>
        </div>
      </div>

      <div class="form-group">
        <div class="labels">
          <label> Hobbies </label>
        </div>

        <div class="checkBoxDiv" *ngFor="let hobbies of hobbiesArray">
          <input type="checkbox" name="hobbies" class="checkBoxes" [value]="hobbies" [ngModel]="formData.hobbies"
            (ngModelChange)="formData.hobbies" #hobbiesInput="ngModel" required>
          {{hobbies}}
        </div>

        <div class="errorMessageDiv" *ngIf="hobbiesInput?.errors && (hobbiesInput?.dirty || hobbiesInput?.touched)">
          <p *ngIf="hobbiesInput?.errors.required"> Select at least one Hobbie </p>
        </div>
      </div>

      <div class="form-group">
        <div class="labels">
          <label> Password </label>
        </div>

        <div>
          <input type="password" class="textBox" name="password" [(ngModel)]="formData.password" #passwordInput="ngModel"
            required minlength="8" [ngClass]="{
                  'has-error': passwordInput.invalid && (passwordInput.dirty || passwordInput.touched),
                  'has-success': passwordInput.valid && (passwordInput.dirty || passwordInput.touched) 
                }">
        </div>

        <div class="errorMessageDiv" *ngIf="passwordInput.errors && (passwordInput.dirty || passwordInput.touched)">
          <p *ngIf="passwordInput.errors.required">Password is required</p>
          <p *ngIf="passwordInput.errors.minlength">Password must be {{passwordInput.errors.minlength.requiredLength}}
            characters
            long, we need another {{passwordInput.errors.minlength.requiredLength -
            passwordInput.errors.minlength.actualLength}}
            characters </p>
        </div>
      </div>

      <div class="form-group">
        <div class="labels">
          <label> Language </label>
        </div>

        <div>
          <select class="dropDown" name="language" [(ngModel)]="formData.language" #languageInput="ngModel" required
            [ngClass]="{
                  'has-error': languageInput.invalid && (languageInput.dirty || languageInput.touched),
                  'has-success': languageInput.valid && (languageInput.dirty || languageInput.touched) 
                }">
            <option value=""> Please Select Language </option>
            <option *ngFor="let language of languageArray" [value]="language"> {{language}} </option>
          </select>
        </div>

        <div class="errorMessageDiv" *ngIf="languageInput.errors && (languageInput.dirty || languageInput.touched)">
          <p *ngIf="languageInput.errors.required"> Language Is Required </p>
        </div>
      </div>

      <div class="buttonDiv">
        <input type="submit" class="buttons" value="Submit" [disabled]="formData.invalid">
        <input type="reset" class="buttons" value="Cancel" [disabled]="formData.valid">
      </div>
    </div>

  </form>
</div>